<h2>Login</h2>

<%= simple_form_for :user, url: '/login' do |f| %>

  <div class="row">
    <%= f.input :username, wrapper_html: {class: 's12 m6 offset-m3'} %>
    <%= f.input :password, wrapper_html: {class: 's12 m6 offset-m3'} %>
  </div>

  <div class="row center">
    <%= f.button :submit, value: 'Login' %>
  </div>

<% end %>
