@import "materialize/components/color";
$primary-color: color("blue", "base") !default;
$secondary-color: color("pink", "base") !default;
$link-color: color("cyan", "base") !default;
@import 'materialize';

.brand-logo {
  margin-left: 10px;
}

//Footer toujours au min en bas de l'écran --> Poussé si bcp de contenu
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h2, h3, h4, h5, h6 {
  text-align: center;
}

.alert {
  padding: 10px;
  margin: 0;
  margin-top: 10px;
}

.alert-success {
  background-color: green;
  color: white;
}

.alert-error {
  background-color: red;
  color: white;
}

.alert-warning {
  background-color: yellow;
}
