<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2016 Arnaud Plumez
      <a class="grey-text text-lighten-4 right" href="<%= root_path %>">Back to the homepage</a>
    </div>
  </div>
</footer>
